# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Output files from the program
*.out

# autotools
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report

# Executable
hfcxx
