# Compiled Object files
*.slo
*.lo
*.o
*.Po

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Output files from the program
*.out

# Autotools
src/.deps

# integration with travis
.deps
.dirstamp
.libs
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.log
/config.status
/config.sub
/libtool
/stamp-h1
INSTALL
Makefile

# Executable
hfcxx

